---
import UnicornScene from 'unicornstudio-react';
---

<div class="absolute top-0 right-0 w-[1080px] h-[800px] overflow-hidden pointer-events-none z-0">
  <UnicornScene
    projectId="JxwuXQIw0ux3WoNZyQLQ"
    width="100%"
    height="100%"
    production
    className="size-[1080px] pointer-events-none"
    client:only="react"
  />
</div>
